.journal-entry {
  padding: 15px;
  color: #C5C6C7;
  background-color: #0B0C10;
  display: grid;
  grid-template-columns: minmax(100px, 300px);
  grid-template-rows: 50px 24px 100px min-content;
  gap: 15px;
}
.journal-entry_date {
  margin-top: 15px;
  font-size: 18px;
  color: #C5C6C7;
}
.journal-entry_body {
  margin-top: 15px;
  font-size: 18px;
  color: #C5C6C7;
}
