@use '../../colors';


.journal-entry {
    padding: 15px;
    color: colors.$font-color;
    background-color: colors.$nav-background-color;
    display: grid;
    grid-template-columns: minmax(100px, 300px);
    grid-template-rows: 50px 24px 100px min-content;
    gap: 15px;

    &_title {

    }

    &_date {
        margin-top: 15px;
        font-size: 18px;
        color: colors.$font-color;
    }

    &_tags {

    }

    &_body {
        margin-top: 15px;
        font-size: 18px;
        color: colors.$font-color;
    }

}