a {
  text-decoration: none;
}

.home {
  height: max-content;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-areas: " . body . ";
  background-color: #1F2833;
}
@media screenn and (max-width: 900px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-areas: "body";
  }
}
.home_journal-container {
  grid-area: body;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 50px;
  min-height: 1000px;
}
.home_header {
  font-size: 36px;
  color: #C5C6C7;
  align-self: center;
}
