@mixin page-body() {
    height: max-content;
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-areas: " . body . ";
    background-color: colors.$main-background;

    @media screenn and (max-width: 900px) {
        grid-template-columns: 1fr;
        grid-template-areas: "body";
    }
}
